form(action='.', method='post')
    div.row
        header.span12
            div.row
                div.span3
                    iframe.upload(name='upload', src='/upload', frameborder='0', scrolling='no')
                div.span8
                    div.row
                            div.span6
                                input.span6(name='school', placeholder='Nombre de la Institución', value='#{school}')
                            div.span2
                                input.span2(name='date', placeholder='Fecha', value='#{date}')
                    div.row
                            div.span3
                                input.span3(name='subject', placeholder='Asignatura', value='#{subject}')
                            div.span3
                                input.span3(name='teacher', placeholder='Maestro', value='#{teacher}')
                            div.span2
                                input.span2(name='period', placeholder='Periodo', value='#{period}')
                    div.row
                            div.span6
                                input.span6.disabled(placeholder='Nombre del Alumno', disabled)
                            div.span2
                                input.span2.disabled(placeholder='Grupo', disabled)
    div.questions(style='display:none')
    div.row.new-question(style='display:none')
        div.span12
            div.row
                div.span3
                    select.question-type.span3
                        option(value='open') Abierta
                        option(value='options') Opción Múltiple
                        option(value='truefalse') Verdadero - Falso
                div.span2
                    button.btn.btn-success.add-question Agregar Pregunta
                div.span2
                    button.btn.btn-primary.create Generar Exámen
                    img(src='/img/ajax-loader.gif', style='display:none')
div.error(style='display:none')
    div.modal
        div.modal-header
            a.close(data-dismiss='modal') &times;
            h3 Error
        div.modal-body
            p Error
        div.modal-footer
            a.btn.close-modal(href='#') Cerrar
div.newdoc(style='display:none')
    div.modal
        div.modal-header
            a.close(data-dismiss='modal') &times;
            h3 Se ha generado su exámen...
        div.modal-body
            p Puede volver a editar su documento desde la siguiente dirección:
            input.link.span6(type='text', value='')
            //div.alert.alert-error Por favor ayudanos contestando la encuesta para poder descagar el archivo PDF.
            form.feedback.well(action='/feedback', method='post', style='display:none')
                input(type='hidden', name='doc', value='')
                div.row
                    div.span3
                        label Edad
                        select(name='age')
                            option(value='') Seleccione una opción
                            option(value='10') 0-10
                            option(value='20') 11-20
                            option(value='30') 21-30
                            option(value='40') 31-40
                            option(value='50') 41-50
                            option(value='60') 61-99
                    div.span3
                        label Sexo
                        select(name='gender')
                            option(value='') Seleccione una opción
                            option(value='male') Masculino
                            option(value='female') Femenino
                div.row
                    div.span3
                        label Nivel Académico
                        select(name='level')
                            option(value='') Seleccione una opción
                            option(value='elementary') Primaria
                            option(value='middle') Secundaria
                            option(value='high') Preparatoria
                            option(value='college') Universidad
                            option(value='graduate') Posgrado
                    div.span3
                        label Actividad Principal
                        select(name='activity')
                            option(value='') Seleccione una opción
                            option(value='student') Estudiante
                            option(value='teacher') Profesor
                            option(value='other') Otro
                div.row
                    div.span3
                        label ¿Necésita realizar exámenes?
                        select(name='needs')
                            option(value='') Seleccione una opción
                            option(value='yes') Si
                            option(value='no') No
                    div.span3
                        label ¿Con qué frecuencia?
                        select(name='frequency')
                            option(value='') Seleccione una opción
                            option(value='never') Ninguna
                            option(value='sometimes') A veces
                            option(value='often') Muy seguido
                            option(value='always') Siempre
                div.row
                    div.span3
                        label ¿Utilizaría este sistema?
                        select(name='use')
                            option(value='') Seleccione una opción
                            option(value='yes') Si
                            option(value='no') No
                    div.span3
                        label ¿Le parecío sencillo de utilizar?
                        select(name='easy')
                            option(value='') Seleccione una opción
                            option(value='yes') Si
                            option(value='no') No
                            option(value='complicated') Complicado
        div.modal-footer
            a.btn.btn-primary(href='#', target='_blank') Descargar PDF
            img.loader(src='/img/ajax-loader.gif', style='display:none')
            a.disabled.feedback.btn(href='#', style='display:none') Enviar encuesta
            a.btn.close-modal(href='#') Cerrar
div.templates(style='display:none')
    div.question.question-open
        div.row
            div.span12
                label(for='open')
                div.input
                    div.span9
                        input.span9(name='open', placeholder='Escriba aquí la pregunta')
                    div.span1
                        button.btn.btn-danger.remove-question(title='Eliminar Pregunta') &times;
    div.question.question-options
        div.row
            div.span12
                label(for='options')
                div.input
                    div.span9
                        input.span9(name='options', placeholder='Escriba aquí la pregunta')
                    div.span1
                        button.btn.btn-danger.remove-question(title='Eliminar Pregunta') &times;
        div.row.answer-wrapper
            div.answer.span12
                div.span9
                    input.span9(name='answer', placeholder='Escriba aquí la opción')
                div.span1
                    button.btn.btn-success.add-answer(title='Agregar Respuesta') +
    div.question.question-truefalse
        div.row
            div.span12
                label(for='truefalse')
                div.input
                    div.span9
                        input.span9(name='truefalse', placeholder='Escriba aquí el enunciado/pregunta')
                    div.span1
                        button.btn.btn-danger.remove-question(title='Eliminar Pregunta') &times;
script var questions = !{JSON.stringify(questions)}; var image_logo = !{JSON.stringify(logo)};